@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: auto;
  height: auto;

}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #262426;
}

html::-webkit-scrollbar-thumb {
  background: #F8B011;
}

body {
  /*background: url(../images/fundo1.png);*/
  background-color: #262426;
  background-size: cover;
  background-position: center;

}

section {
  padding: 3rem 1rem;
}


.link-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background: #F8B011;
  color: #262426;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.8rem;
  text-transform: none;
}

.link-btn:hover {
  background: #262426;
  color: #F8B011;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 16px;
	color: #F8B011;
	text-transform: uppercase;
	font-weight: 700;
}

.heading h3 {
  color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 8px;
}

.header {
  z-index: 1000;
  padding: 3rem 1rem;
  
}

.header.active {
  background: url(../images/fundo2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0rem 0;
  
}

.header.active .logo {
  color: #000; 
}

.header.active .nav a {
  color: #F8B011;
}

.header.active #menu-btn {
  color: #000;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .logo span {
  color: #262426;
}

.header .nav a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #E6E6E6;
}

.header .nav a:hover {
  color: #A8A8A8;
}

.header #menu-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
}

.home {
  background: url(../images/bk3.png) no-repeat;
  background-color: #262626;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 4rem;
}

.home span {
  font-size: 5rem;
  color: #fff;
}

.home h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inicio {

  margin-bottom: 100px;
}

.about {
  background: url(../images/fundo2.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 4rem;
  margin: 0;
  padding-top: 130px;
}

.about h1 {
  font-size: 4rem;
  color: #F8B011;
  padding-bottom: 25px;
}


.about p {
  font-size: 1.5rem;
  line-height: 2.2;
  color: #fff;
}

.about p span {
  color: #F8B011;
  font-size: 2.1rem;
}
.about ul {
  list-style: none;
}

.about ul li {
  padding-top: 1.5rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #E6E6E6;
}

.about ul li i {
  padding-right: 1rem;
  color: #F8B011;
}

.fotos {
  background: url(../images/fundo2.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 25px;
  padding-top: 25px;


}

/*planos*/

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 17px 30px 16px;
	color: #111111;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}

.primary-btn.btn-normal {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	font-size: 16px;
	color: #F8B011;
	text-transform: uppercase;
	font-weight: 700;
}

.section-title h3 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 8px;
}

.pricing-section {
	background: url(../images/fundo2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 25px;
  padding-top: 25px;
}

.pricing-section .section-title {
	margin-bottom: 56px;
}

.ps-item {
	text-align: center;
	padding: 40px 30px 32px;
	border: 1px solid #464646;
	-webkit-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-bottom: 30px;
	position: relative;
}

.ps-item:hover {
	background: #ffffff;
	border-color: #ffffff;
}

#planosemestral {
  border: 2px groove #F8B011;
}


.ps-item:hover h3 {
	color: #111111;
}

.ps-item:hover .pi-price span {
	color: #444444;
}

.ps-item:hover ul li {
	color: #111111;
	font-weight: 600;
}

.ps-item:hover .primary-btn.pricing-btn {
	background: #F8B011;
  color:#111111;
}

.ps-item:hover .thumb-icon {
	opacity: 1;
	visibility: visible;
}

.ps-item h3 {
	font-size: 28px;
	color: #111111;
	font-weight: 600;
	margin-bottom: 16px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .pi-price {
	margin-bottom: 30px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .pi-price h2 {
	font-size: 40px;
	color: #F8B011;
	font-weight: 600;
}

.ps-item .pi-price span {
	color: #F8B011;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.ps-item ul {
	margin-bottom: 40px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item ul li {
	font-size: 14px;
	color: #E6E6E6;
	line-height: 32px;
	list-style: none;
}

.ps-item .primary-btn.pricing-btn {
	display: block;
	background: #F8B011;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .thumb-icon {
	font-size: 48px;
	color: #F8B011;
	position: absolute;
	left: 50px;
	bottom: 120px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
	opacity: 0;
	visibility: hidden;
}

.team {
  background: url(../images/fundo2.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 25px;
}

.team .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  padding: 20px 150px;
  width: 100%;
}

.team .box-container .box {
  max-height: 50rem;
  max-width: 500rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px;
  text-align: center;
  justify-content: center;
}

.team .box-container .box:hover .content {
  left: -100%;
}

.team .box-container .box:hover .share {
  left: 0;
}

.team .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px;
}

.team .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 1rem 2rem;
}

.team .box-container .box .content span {
  font-size: 1.7rem;
  color: #F8B011;
}

.team .box-container .box .content h3 {
  font-size: 2rem;
  color: #000;
}

.team .box-container .box .share {
  position: absolute;
  bottom: 0;
  left: -100%;
  background: #fff;
  padding: 1.5rem 1rem;
}

.team .box-container .box .share a {
  font-size: 2rem;
  color: #000;
  margin: 0 1rem;
}

.team .box-container .box .share a:hover {
  color: #F8B011;
}


.footer {
  background: url(../images/fundo1.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  text-transform: none;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a {
  font-size: 1.6rem;
  line-height: 2;
  color: #ccc;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: #F8B011;
}

.footer .box-container .box a:hover {
  color: #F8B011;
}

.footer .box-container .box p {
  font-size: 1.8rem;
  line-height: 2;
  color: #ccc;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  text-transform: none;
  color: #fff;
  padding: 0 1rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
  color: #F8B011;
}

.footer .box-container .boxmap {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home h3 {
    font-size: 3rem;
  }
  .pricing .box-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .pricing .box-container .box:nth-child(2) {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .join h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    color: #000;
    margin: 1rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */